*{
    margin: 0;
    padding: 0;
}

img{
    position: absolute;
    z-index: 1;
    height: 175px;

}

table{
    width: 500px;
    height: 325px;
    position: relative;
    border-collapse: collapse;
    border: 1px solid black;
}

tr:nth-child(odd) td{
    width: 100px;
    height: 25px;
    background-color: red;
}

tr:nth-child(even) td{
    width: 100px;
    height: 25px;
    background-color: white;
}
